.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    padding-right: 40px;
    padding-left: 40px;

    &--main {
      padding-bottom: 74px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1350px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
