.heading {
  padding: 20px 0 40px 0;
}

.heading__title {
  margin: 0 0 15px 0;
  padding: 0;

  font-size: 55px;
  line-height: 55px;
}

.heading__text {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .heading {
    padding: 30px 0 50px 0;
  }

  .heading__title {
    margin: 0 0 20px 0;

    font-size: 70px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .heading {
    padding: 40px 0 60px 0;
  }

  .heading__title {
    margin: 0 0 25px 0;

    font-size: 100px;
    line-height: 100px;
  }
}
