$main-font: "Play", "Arial", sans-serif;

$font-color: #000000;
$font-color-hover: #e51837;
$font-color-visited: #80807F;

$border-color: #cccccc;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
